@import url('https://fonts.googleapis.com/css?family=Raleway|Rock+Salt|Shadows+Into+Light');

title {
	font-family: Rock+Salt;
	text-align: center;
    font-size: 28px;
}

h1 {
	font-family: Shadows+Intro+Light;
	text-align: center;
	background: #32E6E8;
	color: #000;
	font-style: italic;
	font-size: 20px;
}
h2 {
	font-family: Raleway;
	text-align: center;
	font-size: 18px;
}
p {
	font-family: Shadows+Into+Light;
	color: #000;
	text-align: center;
	line-height: 1.5em;
	margin: 2em;
	font-size: 16px;
}
	body {
	background: #32E6E8;
	text-align: center;
	color: #000;
}
hr {
	width: 200px;
}
a {
	font-style: : italic;
	color: #0344E8;
}