@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway|Rock+Salt|Shadows+Into+Light');

h1 {
	font-family: Permanent Marker;
	text-align: center;
	background: #32E6E8;
	color: #000;
	font-style: italic;
	font-size: 32px;
}
h2 {
	font-family: Raleway;
	text-align: center;
	font-size: 24px;
}
h3 {
	font-family: Shadows Into Light;
	text-align: center;
	font-size: 28px;
}
p {
	font-family: Verdana;
	color: #000;
	text-align: center;
	line-height: 1em;
	margin: 2em;
	font-size: 14px;
}
	body {
	background: #32E6E8;
	text-align: center;
	color: #B20E00;;
}
hr {
	width: 200px;
}
a {
	font-style: : italic;
	color: #0344E8;
}