@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway|Rock+Salt|Shadows+Into+Light');

h1 {
	font-family: Permanent Marker;
	text-align: center;
	color: #000;
	font-style: italic;
	font-size: 1em;
}
h2 {
	font-family: Raleway;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
}
h3 {
	font-family: Shadows Into Light;
	text-align: center;
	color: #B20E00;
	font-size: 1.2em;
}
h4 {
	font-family: Permanent Marker;
	color: #DD1818;
	font-size: .9em;
	}
p {
	font-family: Verdana;
	color: #000;
	text-align: center;
	line-height: 1em;
	margin: 2em;
	font-size: .7em;
}
body {
	background: #8ED2D1;
	text-align: center;
	background-size: cover;
	font-size: 1em;
}
hr {
	width: 30%;
}
header {
	width: 80%;
	margin-bottom: 1em;
	padding: 1em;
}
nav {
	font-size: .8em;
	font-family: Raleway;
 	float: left;
 	margin-top: 3em;
 	margin-bottom: 1em;
} 
.nav {	
	text-decoration: none;
	color: #B20E00;
	margin: 1em;
	display: inline-block;
}

#wrapper {
	margin-bottom: 2em;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 2em;
	text-decoration: bold;
	float: left;
	width: 95%;
}
div {
	background-color: #FFED74;
	padding: 20px;
	font-size: 1.2em;
	padding: 2%;
}
section {
	background-color: #EBFFDC;
	color: #fff;
	width: 100%;
}
img {
	margin: .2em;
	width: 30%;
	float: left;
}
#three_column {
    background-color: #F67D8C;
    width: 90%;         
}
#about {
    background-color: #C1E7E2;
    border: 1px black solid;
    float: left;
    padding: 1em;
    width: 29%;
    margin: .2em;
}

#offer {
    background-color: #FFE2B8;
    border: 1px black solid;
    float: left;   
    padding: 1em;
    width: 29%;
    margin: .2em;
}

#connect {
    background-color: #FFBEB4;
    border: 1px black solid;
    float: left;   
    padding: 1em;
    width: 29%;
    margin: .2em;
}

#samples {
    background-color: #F3E9F4;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 95%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

footer {
	clear: both;
}

.footer {
	font-family: Shadows Into Light;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 1em 0;
	clear: both;
}

@-ms-viewport{
	width: device-width;
}

@media only screen and (max-width: 320px) {
	
	#about {
		width: 20%;
		padding: 1% 4%;
		float: left;
	}

	#offer {
		width: 20%;
		padding: 1% 4%;
		margin: 1em;
		float: left;
	}

	#contact {
		padding: 1% 4%;
		width: 20%;
		float: left;	
	}